
DATA SCIENCE PROJECT FOR AN ELECTRIC CAR-SHARING SERVICE COMPANY Analysis, Evaluation and Recommendation. The Electric Car-Sharing Service Company Requires Data analysis of the data from its stations to understand car usage over time. They have shared the dataset to me as a data scientist for analysis and identify the usage of shared electric cars over time.


**DATA **

The dataset provided contains data collected for a period of 9days. 
The dataset:
     

*  dataset description[https://drive.google.com/a/moringaschool.com/file/d/13DXF2CFWQLeYxxHFekng8HJnH_jtbfpN/view?usp=sharing]

* dataset csv[http://bit.ly/autolib_dataset]


    
**Requirements**

*    Study the given dataset and compute the car usage over time
*   Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018

##Importing Libraries

In [ ]:
#Pandas for data manipulation and analysis
import pandas as pd

#we also import the numpy libraries
import numpy as np

##Loading Data

In [ ]:
#import autolib dataset
#Imported locally as it's noted to be faster than imported from direct URL.
#Skipped row 0 which has headers. Renamed columns for ease of understanding as some column names have numerics.
url='/content/Autolib_dataset.csv'
autolib_df=pd.read_csv(url, header=1, names = ['Address', 'Cars', 'Bluecar_counter', 'Utilib_counter',
       'Utilibcounter', 'Charge_Slots', 'Charging_Status', 'City',
       'Displayed_comment', 'ID', 'Kind', 'Geo_point', 'Postal_code',
       'Public_name', 'Rental_status', 'Scheduled_at', 'Slots', 'Station_type',
       'Status', 'Subscription_status', 'year', 'month', 'day', 'hour',
       'minute'])
autolib_df.head()

                              Address  Cars  Bluecar_counter  ...  day  hour  minute
0           145 Rue Raymond Losserand     6                6  ...    6     7      24
1    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
2              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
3  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
4                8 Boulevard Voltaire     0                0  ...    6     7       2

[5 rows x 25 columns]

**Data Understanding**



1.   autolib data

In [ ]:
#Autolib Dataframe Information and it's descriptive statistics
print(autolib_df.info())
print(autolib_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              4999 non-null   object
 1   Cars                 4999 non-null   int64
 2   Bluecar_counter      4999 non-null   int64
 3   Utilib_counter       4999 non-null   int64
 4   Utilibcounter        4999 non-null   int64
 5   Charge_Slots         4999 non-null   int64
 6   Charging_Status      4999 non-null   object
 7   City                 4999 non-null   object
 8   Displayed_comment    111 non-null    object
 9   ID                   4999 non-null   object
 10  Kind                 4999 non-null   object
 11  Geo_point            4999 non-null   object
 12  Postal_code          4999 non-null   int64
 13  Public_name          4999 non-null   object
 14  Rental_status        4999 non-null   object
 15  Scheduled_at         47 non-null     object
 16  Slots                4999 non-null   int64
 17  Station_type         4999 non-null   object
 18  Status               4999 non-null   object
 19  Subscription_status  4999 non-null   object
 20  year                 4999 non-null   int64
 21  month                4999 non-null   int64
 22  day                  4999 non-null   int64
 23  hour                 4999 non-null   int64
 24  minute               4999 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.5+ KB
None
              Cars  Bluecar_counter  ...         hour       minute
count  4999.000000      4999.000000  ...  4999.000000  4999.000000
mean      2.334067         2.334067  ...    11.509302    29.267253
std       2.035210         2.035210  ...     6.894235    17.232370
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

In [ ]:
#accessing columns 
autolib_df.columns

Index(['Address', 'Cars', 'Bluecar_counter', 'Utilib_counter', 'Utilibcounter',
       'Charge_Slots', 'Charging_Status', 'City', 'Displayed_comment', 'ID',
       'Kind', 'Geo_point', 'Postal_code', 'Public_name', 'Rental_status',
       'Scheduled_at', 'Slots', 'Station_type', 'Status',
       'Subscription_status', 'year', 'month', 'day', 'hour', 'minute'],
      dtype='object')

In [ ]:
#accessing rows
autolib_df.index

RangeIndex(start=0, stop=4999, step=1)

In [ ]:
#accessing the shape 

autolib_df.shape

(4999, 25)

In [ ]:
#accessing the body of the dataframe(numpy array)
autolib_df.values

array([['145 Rue Raymond Losserand', 6, 6, ..., 6, 7, 24],
       ['2 Avenue John Fitzgerald Kennedy', 3, 3, ..., 3, 20, 14],
       ['51 Rue EugÃ¨ne OudinÃ©', 3, 3, ..., 4, 4, 37],
       ...,
       ['142 rue du Bac', 1, 1, ..., 1, 7, 1],
       ['2 avenue du Val de Fontenay', 2, 2, ..., 4, 17, 27],
       ['5 Rue Henry Brisson', 4, 4, ..., 8, 10, 2]], dtype=object)

In [ ]:
#we can also access the type 
type(autolib_df)

pandas.core.frame.DataFrame

In [ ]:
#in understanding the dataframe, it is also importing to identify the unique values
#in the dataset provided

print ("Unique Address ", autolib_df.Address.nunique(), " out of " , autolib_df.Address.count())
print ("Unique Bluecar_counter ", autolib_df.Bluecar_counter.nunique(), " out of " , autolib_df.Bluecar_counter.count())
print ("Unique Utilib_counter ", autolib_df.Utilib_counter.nunique(), " out of " , autolib_df.Utilib_counter.count())
print ("Unique Utilibcounter ", autolib_df.Utilibcounter.nunique(), " out of " , autolib_df.Utilibcounter.count())
print ("Unique Charge_Slots ", autolib_df.Charge_Slots.nunique(), " out of " , autolib_df.Charge_Slots.count())
print ("Unique Charging_Status ", autolib_df.Charging_Status.nunique(), " out of " , autolib_df.Charging_Status.count())
print ("Unique City ", autolib_df.City.nunique(), " out of " , autolib_df.City.count())
print ("Unique Displayed_comment ", autolib_df.Displayed_comment.nunique(), " out of " , autolib_df.Displayed_comment.count())
print ("Unique ID ", autolib_df.ID.nunique(), " out of " , autolib_df.ID.count())
print ("Unique Kind ", autolib_df.Kind.nunique(), " out of " , autolib_df.Kind.count())
print ("Unique Geo_point ", autolib_df.Geo_point.nunique(), " out of " , autolib_df.Geo_point.count())
print ("Unique Postal_code ", autolib_df.Postal_code.nunique(), " out of " , autolib_df.Postal_code.count())
print ("Unique Public_name ", autolib_df.Public_name.nunique(), " out of " , autolib_df.Public_name.count())
print ("Unique Rental_status ", autolib_df.Rental_status.nunique(), " out of " , autolib_df.Rental_status.count())
print ("Unique Scheduled_at ", autolib_df.Scheduled_at.nunique(), " out of " , autolib_df.Scheduled_at.count())
print ("Unique Slots ", autolib_df.Slots.nunique(), " out of " , autolib_df.Slots.count())
print ("Unique Station_type ", autolib_df.Station_type.nunique(), " out of " , autolib_df.Station_type.count())
print ("Unique Status ", autolib_df.Status.nunique(), " out of " , autolib_df.Status.count())
print ("Unique Subscription_status ", autolib_df.Subscription_status.nunique(), " out of " , autolib_df.Subscription_status.count())
print ("Unique year ", autolib_df.year.nunique(), " out of " , autolib_df.year.count())
print ("Unique month ", autolib_df.month.nunique(), " out of " , autolib_df.month.count())
print ("Unique day ", autolib_df.day.nunique(), " out of " , autolib_df.day.count())
print ("Unique hour ", autolib_df.hour.nunique(), " out of " , autolib_df.hour.count())
print ("Unique minute ", autolib_df.minute.nunique(), " out of " , autolib_df.minute.count())

Unique Address  1104  out of  4999
Unique Bluecar_counter  8  out of  4999
Unique Utilib_counter  3  out of  4999
Unique Utilibcounter  4  out of  4999
Unique Charge_Slots  3  out of  4999
Unique Charging_Status  3  out of  4999
Unique City  88  out of  4999
Unique Displayed_comment  25  out of  111
Unique ID  1105  out of  4999
Unique Kind  4  out of  4999
Unique Geo_point  1105  out of  4999
Unique Postal_code  107  out of  4999
Unique Public_name  1105  out of  4999
Unique Rental_status  4  out of  4999
Unique Scheduled_at  8  out of  47
Unique Slots  8  out of  4999
Unique Station_type  3  out of  4999
Unique Status  3  out of  4999
Unique Subscription_status  3  out of  4999
Unique year  1  out of  4999
Unique month  1  out of  4999
Unique day  9  out of  4999
Unique hour  24  out of  4999
Unique minute  60  out of  4999

In [ ]:
#Cars
list(autolib_df.Scheduled_at.unique())

[nan,
 '2016-07-27T15:32:21',
 '2016-07-05T13:10:09',
 '2015-09-29T13:58:29',
 '2016-04-26T14:28:01',
 '2012-09-17T08:57:28',
 '2016-01-06T10:35:38',
 '2018-01-03T10:52:00',
 '2016-07-27T15:32:22']

In [ ]:
#Null values
print(autolib_df.isnull().sum())

Address                   0
Cars                      0
Bluecar_counter           0
Utilib_counter            0
Utilibcounter             0
Charge_Slots              0
Charging_Status           0
City                      0
Displayed_comment      4888
ID                        0
Kind                      0
Geo_point                 0
Postal_code               0
Public_name               0
Rental_status             0
Scheduled_at           4952
Slots                     0
Station_type              0
Status                    0
Subscription_status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [ ]:
autolib_df.head()

                              Address  Cars  Bluecar_counter  ...  day  hour  minute
0           145 Rue Raymond Losserand     6                6  ...    6     7      24
1    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
2              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
3  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
4                8 Boulevard Voltaire     0                0  ...    6     7       2

[5 rows x 25 columns]

**DATA CLEANING**

Dropping similar columns

In [ ]:
#since Cars and Bluecar_counter have the same information, we can drop the cars column
autolib_df['Cars'] == autolib_df['Bluecar_counter']
autolib_df.drop('Cars', inplace=True,  axis=1)

autolib_df.head()

                              Address  Bluecar_counter  ...  hour  minute
0           145 Rue Raymond Losserand                6  ...     7      24
1    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
2              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
3  6 avenue de la Porte de Champerret                3  ...    17      23
4                8 Boulevard Voltaire                0  ...     7       2

[5 rows x 24 columns]

Checking for duplicates

In [ ]:
###checking for duplicates
print(autolib_df[autolib_df.duplicated(keep=False)])

Empty DataFrame
Columns: [Address, Bluecar_counter, Utilib_counter, Utilibcounter, Charge_Slots, Charging_Status, City, Displayed_comment, ID, Kind, Geo_point, Postal_code, Public_name, Rental_status, Scheduled_at, Slots, Station_type, Status, Subscription_status, year, month, day, hour, minute]
Index: []

In [ ]:
#drop duplicates
autolib_df = autolib_df.drop_duplicates()

In [ ]:
autolib_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4999 entries, 0 to 4998
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              4999 non-null   object
 1   Bluecar_counter      4999 non-null   int64
 2   Utilib_counter       4999 non-null   int64
 3   Utilibcounter        4999 non-null   int64
 4   Charge_Slots         4999 non-null   int64
 5   Charging_Status      4999 non-null   object
 6   City                 4999 non-null   object
 7   Displayed_comment    111 non-null    object
 8   ID                   4999 non-null   object
 9   Kind                 4999 non-null   object
 10  Geo_point            4999 non-null   object
 11  Postal_code          4999 non-null   int64
 12  Public_name          4999 non-null   object
 13  Rental_status        4999 non-null   object
 14  Scheduled_at         47 non-null     object
 15  Slots                4999 non-null   int64
 16  Station_type         4999 non-null   object
 17  Status               4999 non-null   object
 18  Subscription_status  4999 non-null   object
 19  year                 4999 non-null   int64
 20  month                4999 non-null   int64
 21  day                  4999 non-null   int64
 22  hour                 4999 non-null   int64
 23  minute               4999 non-null   int64
dtypes: int64(11), object(13)
memory usage: 976.4+ KB

In [ ]:
#dropping columns with missing values
#in order to delete these columns, I will use dropna()
autolib_df.pop('Displayed_comment')

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4994    NaN
4995    NaN
4996    NaN
4997    NaN
4998    NaN
Name: Displayed_comment, Length: 4999, dtype: object

In [ ]:
autolib_df.pop('Scheduled_at')

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4994    NaN
4995    NaN
4996    NaN
4997    NaN
4998    NaN
Name: Scheduled_at, Length: 4999, dtype: object

In [ ]:
#merging the year and month columns
autolib_df['Date']=autolib_df['year'].astype(str) +'/'+ autolib_df['month'].astype(str)+'/'+autolib_df['day'].astype(str)
autolib_df['Date'].head()

0    2018/4/6
1    2018/4/3
2    2018/4/4
3    2018/4/8
4    2018/4/6
Name: Date, dtype: object

In [ ]:
#merging also the hour and minute column
autolib_df['Time']=autolib_df['hour'].astype(str)+':'+autolib_df['minute'].astype(str)
autolib_df['Time']

0        7:24
1       20:14
2        4:37
3       17:23
4         7:2
        ...
4994    11:26
4995    16:56
4996      7:1
4997    17:27
4998     10:2
Name: Time, Length: 4999, dtype: object

In [ ]:
#Dropping unnecessary columns
autolib_df.drop(['year','month','day','hour','minute','Subscription_status','Status','Charge_Slots','Charging_Status', 'ID'], axis=1)

                                 Address  Bluecar_counter  ...      Date   Time
0              145 Rue Raymond Losserand                6  ...  2018/4/6   7:24
1       2 Avenue John Fitzgerald Kennedy                3  ...  2018/4/3  20:14
2                 51 Rue EugÃ¨ne OudinÃ©                3  ...  2018/4/4   4:37
3     6 avenue de la Porte de Champerret                3  ...  2018/4/8  17:23
4                   8 Boulevard Voltaire                0  ...  2018/4/6    7:2
...                                  ...              ...  ...       ...    ...
4994                 8 avenue MÃ©nelotte                2  ...  2018/4/6  11:26
4995                   37 rue de Dantzig                4  ...  2018/4/4  16:56
4996                      142 rue du Bac                1  ...  2018/4/1    7:1
4997         2 avenue du Val de Fontenay                2  ...  2018/4/4  17:27
4998                 5 Rue Henry Brisson                4  ...  2018/4/8   10:2

[4999 rows x 14 columns]

In [ ]:
autolib_df.info()
autolib_df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4999 entries, 0 to 4998
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              4999 non-null   object
 1   Bluecar_counter      4999 non-null   int64
 2   Utilib_counter       4999 non-null   int64
 3   Utilibcounter        4999 non-null   int64
 4   Charge_Slots         4999 non-null   int64
 5   Charging_Status      4999 non-null   object
 6   City                 4999 non-null   object
 7   ID                   4999 non-null   object
 8   Kind                 4999 non-null   object
 9   Geo_point            4999 non-null   object
 10  Postal_code          4999 non-null   int64
 11  Public_name          4999 non-null   object
 12  Rental_status        4999 non-null   object
 13  Slots                4999 non-null   int64
 14  Station_type         4999 non-null   object
 15  Status               4999 non-null   object
 16  Subscription_status  4999 non-null   object
 17  year                 4999 non-null   int64
 18  month                4999 non-null   int64
 19  day                  4999 non-null   int64
 20  hour                 4999 non-null   int64
 21  minute               4999 non-null   int64
 22  Date                 4999 non-null   object
 23  Time                 4999 non-null   object
dtypes: int64(11), object(13)
memory usage: 976.4+ KB

       Bluecar_counter  Utilib_counter  ...         hour       minute
count      4999.000000     4999.000000  ...  4999.000000  4999.000000
mean          2.334067        0.059612  ...    11.509302    29.267253
std           2.035210        0.246721  ...     6.894235    17.232370
min           0.000000        0.000000  ...     0.000000     0.000000
25%           0.000000        0.000000  ...     6.000000    14.000000
50%           2.000000        0.000000  ...    11.000000    29.000000
75%           4.000000        0.000000  ...    18.000000    44.000000
max           7.000000        2.000000  ...    23.000000    59.000000

[8 rows x 11 columns]

**CONCLUSION**

*   In order to avoid overlapping of data in the dataframe, I first checked for any duplicates. From the results, it is clear that our dataframe does not have any duplicates.
*   Secondly, I dropped the missing values columns, Displayed_comment and Scheduled_at because they contain NAN values.
*  I also merged the hour and minute columns to time and and also the year and month column to date column
*   After merging, I dropped the unnecessary columns like, year,month,day,hour,minute,Subscription_status,Status,Charge_Slots,Charging_Status, ID.

**DATA ANALYSIS**

Data Exploration

***RESEARH QUESTION***
*   Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [ ]:
Paris = autolib_df[(autolib_df['City']== 'Paris') & (autolib_df['Rental_status'] == 'operational')]
autolib_df.groupby('hour')['Bluecar_counter'].value_counts().sort_values(ascending= False).head(1)

hour  Bluecar_counter
14    0                  76
Name: Bluecar_counter, dtype: int64

***BONUS QUESTIONS***

What is the most popular hour for returning cars?

In [ ]:
#Bluecar_counter=autolib_df[(autolib_df['Bluecar_counter']) & (autolib_df['Station_type'] == 'station')]
autolib_df.groupby('hour')['Charging_Status'].value_counts().sort_values(ascending= False).head(1)

hour  Charging_Status
6     nonexistent        131
Name: Charging_Status, dtype: int64



*   What station is the most popular?

> Overall?

> At the most popular picking hour?

In [ ]:
#overall
#Station_type = autolib_df[(autolib_df['Station_type']== 'Paris') & (autolib_df['Rental_status'] == 'operational')]
#autolib_df.groupby('hour')['Bluecar_counter'].value_counts().sort_values(ascending= False).head(1)

autolib_df['Public_name'].mode()

0    Paris/Porte de Montrouge/8
dtype: object

In [ ]:
#at the most popular picking hour?
#
autolib_df.groupby('hour')['Public_name'].value_counts().sort_values(ascending= False).head(1)

hour  Public_name
20    Paris/Paradis/28    4
Name: Public_name, dtype: int64

What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?

Overall?

At the most popular picking hour?

In [ ]:
#autolib_df(autolib_df['Postal_code'] & (autolib_df['Bluecar_counter']==True).count()
autolib_df.groupby('Postal_code')['Bluecar_counter'].value_counts().sort_values(ascending= False).head(1)

Postal_code  Bluecar_counter
75008        0                  94
Name: Bluecar_counter, dtype: int64

In [ ]:
autolib_df.groupby('hour')['Postal_code'].value_counts().sort_values(ascending= False).head(1)

hour  Postal_code
6     75016          19
Name: Postal_code, dtype: int64

Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?